@import "../layout/adaptive";
@import "../shared/mixins";
@import "../shared/theme";

.boxCard {
  height: 59px;
  display: flex;
  background: $primary-color-mid;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid $color-grey-dark;
}

.card {
  width: calc(100% - 30px);
  min-height: 125px;
  margin: 5px 0 15px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;

  &.cardGreen {
    background: linear-gradient(45deg,#92F1D5,#ABF6BD);
    color: $primary-color-grey;
  }

  &.cardBlue {
    background: linear-gradient(45deg,#239FE9,#44D5F3);
    color: $color-white;
  }

  &.cardOrange {
    background: linear-gradient(45deg,#FD5A49,#FDDC98);
    color: $primary-color-grey;
  }

  &.cardPink {
    background: linear-gradient(45deg,#FBCA88,#EF69AD);
    color: $primary-color-grey;
  }

  &.cardDarkBlue {
    background: linear-gradient(45deg,#30496B,#30B8D2);
    color: $color-white;
  }

  &.cardRed {
    background: linear-gradient(45deg,#F1467A,#FB949E);
    color: $color-white
  }
}
