@import "../../styles/shared/theme";
@import "../../styles/shared/mixins";

.usersComponent {
  height: 100vh;
  background: $primary-color-grey;
}

.settings {
  color: $color-gray;
  cursor: pointer;
}

.userListTitle {
  justify-content: space-between;
  box-sizing: border-box;
}

.userList {
  display: flex;
  flex-flow: column nowrap;
}

.user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 15px;
  cursor: pointer;

  &.userActive {
    background: $primary-color-mid;
    .userName { color: $primary-color-grey; }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.userInformation {
  display: flex;
  flex-flow: column nowrap;
  @include font-size(14px);

  .userName {
    color: $color-white;
    margin-bottom: 5px;
  }

  .userStatus {
    font-weight: bold;

    &.online {
      color: $color-green;
      .dot {  background: $color-green; }
    }

    &.offline {
      color: $color-gray;
      .dot {  background: $color-red; }
    }

    .dot {
      @include circle(8px);
      display: inline-block;
    }
  }

}
