.row {
  width: 100%;
  margin-bottom: 25px;
}

.container {
  display: flex;
}

.container,
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  box-sizing: border-box;
  padding: 0 25px;
  min-height: 1px
}

@media (min-width: 40em) {
  .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .row  {
    float: left
  }

}
@media (min-width: 40em) {
  .column-1 { width: 8.333333333333332% }
  .column-2 { width: 16.666666666666664% }
  .column-3 { width: 25% }
  .column-4 { width: 33.33333333333333% }
  .column-5 { width: 41.66666666666667% }
  .column-6 { width: 50% }
  .column-7 { width: 58.333333333333336% }
  .column-8 { width: 66.66666666666666% }
  .column-9 { width: 75% }
  .column-10 { width: 83.33333333333334% }
  .column-11 { width: 91.66666666666666% }
  .column-12,
  .container { width: 100% }
}
